<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="/js/appjs/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/common/index.css"/>
		<link rel="stylesheet" type="text/css" href="/css/common/shouye.css"/>
		<link rel="stylesheet" type="text/css" href="/css/common/font-face.css"/>

	</head>
	<body>
		<div class="header">
			<div class="imgheader" style="background-image: url('<%-user.imgheader%>');"></div>
			<span class="username"><%-user.username%></span>
		</div>
		<a href="/loginOut">
			<div class="back">退出登录</div>
		</a>
		<div class="myserve">
			<div class="my">我的服务</div>
			<div class="allIcon">
				<div class="smallIcon" >
					<a href="/index/private/selfCenter">
						<div class="smallIconImg" style="background-image: url(/img/common/nav-001.png);"></div>
						<span>个人信息</span>
					</a>	
				</div>
				<div class="smallIcon" >
					<a href="/index/private/rgList">
						<div class="smallIconImg" style="background-image: url(/img/common/nav-002.png);"></div>
						<span>挂号订单</span>
					</a>
				</div>
				<div class="smallIcon" >
					<div class="smallIconImg" style="background-image: url(/img/common/nav-003.png);"></div>
					<span>我的报告</span>
				</div>
				<div class="smallIcon" >
					<div class="smallIconImg" style="background-image: url(/img/common/nav-004.png);"></div>
					<span>客服中心</span>
				</div>
			</div>
		</div>
		<div class="usually">
			<div class="us">常用服务</div>
			<div class="allIcon">
				<div class="smallIcon">
					<div class="smallIconImg" style="background-image: url(/img/common/nav-011.png);"></div>
					<span>常见问题</span>
				</div>
				<div class="smallIcon">
					<div class="smallIconImg" style="background-image: url(/img/common/nav-006.png);"></div>
					<span>家人人员</span>
				</div>
				<div class="smallIcon">
					<div class="smallIconImg" style="background-image: url(/img/common/nav-007.png);"></div>
					<span>邀请有奖</span>
				</div>
				<div class="smallIcon">
					<div class="smallIconImg" style="background-image: url(/img/common/nav-008.png);"></div>
					<span>二次分诊</span>
				</div>
			</div>
		</div>
		<div class="usually2">
			<div class="smallIcon1">
				<div class="smallIconImg1" style="background-image: url(/img/common/nav-009.png);"></div>
				<span>我的活动</span>
			</div>
			<div class="smallIcon1">
				<div class="smallIconImg1" style="background-image: url(/img/common/nav-010.png);"></div>
				<span>了解我们</span>
			</div>
			
		</div>
		<div class="usually3">
			<div class="more">更多活动</div>
			<div class="allAct">
				<div class="smallAct1">
					<span>限时特价</span>
					<p>割包皮买一送一</p>
					<div class="dianBtn">点击了解</div>
					<div class="arrow"></div>
					<div class="bgimg" style="background-image: url(/img/common/fl-001.png);"></div>
				</div>
				<div class="smallAct1" style="margin-right: 0.4rem;">
					<span>限时特价</span>
					<p>割包皮买一送一</p>
					<div class="dianBtn">点击了解</div>
					<div class="arrow"></div>
					<div class="bgimg" style="background-image: url(/img/common/fl-002.png);"></div>
				</div>
			</div>
		</div>
		<div id="footer">
			<a href="/index/home"><div class="btn iconfont">&#xe600;<p>首页</p></div></a>
			<a href="/index/gh"><div class="btn iconfont">&#xe614;<p>挂号</p></div></a>
			<a href="/index/news"><div class="btn iconfont">&#xe6af;<p>新闻</p></div></a>
			<a href="/index/private"><div class="btn active iconfont">&#xe601;<p>我的</p></div></a>
		</div>
	</body>
</html>
