<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>个人信息页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/font.css">
		<link rel="stylesheet" href="/static/css/weadmin.css">
  </head>
  
  <body>
    <div class="weadmin-body">
        <form class="layui-form" action="/admin/users/selfinfo" method="POST">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="we-red">*</span>头像
              </label>
              <div class="layui-input-inline">
                  <img 
                    id="img" 
                    style="width: auto;height: 80px;" 
                    src="http://image2.sina.com.cn/ent/d/2005-06-21/U105P28T3D758537F326DT20050621155831.jpg" 
                    alt=""
                  >
              </div>
          </div>
          <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="we-red"></span>上传头像
                <input hidden type="text" name="imgheader" id="imgheader">
            </label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="imgfile">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
            <div class="layui-form-mid layui-word-aux">
              <span class="we-red">*</span>添加后不可修改
            </div>
          </div>
          <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="we-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input 
                  type="text" 
                  id="username" 
                  name="username" 
                  required="" 
                  lay-verify="required"
                  autocomplete="off"
                  value="" 
                  class="layui-input"
                >
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red">*</span>添加后不可修改
            </div>
        </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="we-red">*</span>患者
              </label>
              <div class="layui-input-inline">
                  <input 
                    type="text" 
                    id="patientname" 
                    name="patientname" 
                    required="" 
                    lay-verify="required"
                    autocomplete="off" 
                    value="" 
                    class="layui-input"
                  >
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="we-red">*</span>添加后不可修改
              </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">
              <span class="we-red">*</span>性别
            </label>
              <div class="layui-input-inline">
                <input type="radio" name="gender" value="男" lay-skin="primary" title="男" checked="true">
                <input type="radio" name="gender" value="女" lay-skin="primary" title="女">
              </div>
            
          <div class="layui-form-mid layui-word-aux">
              <span class="we-red">*</span>添加后不可修改
            </div>
          </div>
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="we-red">*</span>手机
              </label>
              <div class="layui-input-inline">
                  <input 
                    type="text" 
                    value="" 
                    id="phone" 
                    name="mobile" 
                    required="" 
                    lay-verify="phone"
                    autocomplete="off" 
                    class="layui-input"
                  >
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="we-red">*</span>添加后不可修改
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="we-red">*</span>邮箱
              </label>
              <div class="layui-input-inline">
                  <input 
                    type="text" 
                    value="" 
                    id="L_email" 
                    name="email" 
                    required="" 
                    lay-verify="email"
                    autocomplete="off" 
                    class="layui-input"
                  >
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="we-red">*</span>添加后不可修改
              </div>
          </div>
          <div class="layui-form">
            <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">挂号时间</label>
                <div class="layui-input-inline">
                  <input name="regtime" type="text" class="layui-input" id="test1" placeholder="请选择">
                </div>
              </div>
            </div>
          </div>
          <div class="layui-form">
            <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">看病时间</label>
                <div class="layui-input-inline">
                  <input name="seetime" type="text" class="layui-input" id="test2" placeholder="请选择">
                </div>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  添加
              </button>
          </div>
      </form>
    </div>
		<script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript">
    	layui.extend({
				admin: '{/}/static/js/admin'
			});
	    layui.use(['form','layer','admin','upload','jquery','laydate'], function(){
	      var form = layui.form,
	      	admin = layui.admin,
          layer = layui.layer;
        var upload = layui.upload;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        
        //自定义验证规则
        form.verify({
          nikename: function(value){
            if(value.length < 5){
              return '昵称至少得5个字符啊';
            }
          }
          ,pass: [/(.+){6,12}$/, '密码必须6到12位']
          ,repass: function(value){
              if($('#L_pass').val()!=$('#L_repass').val()){
                  return '两次密码不一致';
              }
          }
        });

        laydate.render({
          elem: '#test1'
          ,trigger: 'click'
        });

        laydate.render({
          elem: '#test2'
          ,trigger: 'click'
        });

        //监听提交
        form.on('submit(add)', function(data){
          console.log(data);
          $.ajax({
            url:"/admin/patients/patientInfo/addpatient",
            method:"post",
            data:data.field
          }).then(function(res){
            layer.alert("增加成功", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
                //将ifame的上一层进行刷新页面
                window.parent.location.reload();
            });
          })
          return false;
        });
        var uploadInst = upload.render({
          elem:'#imgfile',//绑定元素
          url:'/admin/patients/patientInfo/addimgupload',//上传接口
          field:'imgfile',
          done:function(res){
            //上传完毕回调
            console.log(res);
            $('#img').attr('src',res.imgUrl);
            $("#imgheader").val(res.imgUrl);
          },
          error:function(){
            //请求异常回调
          }
        })
      });
    </script>
  </body>

</html>