<!--此页面已废弃，仅供参考-->
<!DOCTYPE html>
<html>
<!--frame传值后再添加新数据的实现方法尝试页面备份-->
	<head>
		<meta charset="UTF-8">
		<title>医生列表</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="/static/css/font.css">
		<link rel="stylesheet" href="/static/css/weadmin.css">

		<style>
      .layui-btn .layui-icon {
        margin-right: 0px; 
      }
    </style>
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">用户管理</a>
        <a>
          <cite>医生列表</cite></a>
      </span>
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
				<i class="layui-icon" style="line-height:30px">ဂ</i></a>
		</div>
		<div class="weadmin-body">
			<div class="layui-row">
				<form class="layui-form layui-col-md12 we-search">
					医生搜索：
					<div class="layui-inline">
						<input type="text" name="username" placeholder="请输入医生名" autocomplete="off" class="layui-input">
					</div>
					<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
				</form>
			</div>
      
			<table class="layui-hide" id="doctorsList" lay-filter="doctor_table"></table>
			<div class="page">
				<div>
					<a class="prev" href="">&lt;&lt;</a>
					<a class="num" href="">1</a>
					<span class="current">2</span>
					<a class="num" href="">3</a>
					<a class="num" href="">489</a>
					<a class="next" href="">&gt;&gt;</a>
				</div>
			</div>

    </div>
    		
		<script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/static/js/admin.js" charset="utf-8"></script>

		<!-- 添加右侧操作按钮栏 -->
		<script type="text/html" id="rightBar">
      <a class="layui-btn layui-btn-xs" lay-event="edit" ><i class="layui-icon layui-icon-edit"></i></a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
      <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="update"><i class="layui-icon layui-icon-password"></i></a>
    </script>
    <!-- 添加上方添加操作按钮 -->
		<script type="text/html" id="topBar">
      <div class="layui-table-tool-temp">
        <div class="layui-inline" lay-event="add"><a onclick="WeAdminShow('医生信息','/admin/doctors/add')"><i class="layui-icon layui-icon-add-1"></i></a></div>
        <div class="layui-inline" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></div><span>批量删除</span>
      </div>
    </script>


		<script>
			layui.use(['table','form','layer'], function() {
        var table = layui.table;
        var form = layui.form,
        layer = layui.layer;
        var $ = layui.jquery;

        //table 表的内容
        table.render({
          elem: '#doctorsList'
          ,height: 350
          ,title: '医生信息表'
          ,url: '/admin/api/doctors' //数据接口
          ,page: true //开启分页
          ,limit:5
          ,toolbar: "#topBar" 
          ,loading:true
          ,cols: [[ //表头
            {type:'checkbox', fixed: 'left'}
            ,{field: 'id', title: 'ID',  fixed: 'left'}
            ,{field: 'doctorname', title: '用户名', fixed: 'left'}
            ,{field: 'password', title: '密码'}
            ,{field: 'age', title: '年龄', sort: true}
            ,{field: 'sex', title: '性别', sort: true}
            ,{field: 'title', title: '职称', sort: true}
            ,{field: 'mobile', title: '电话'}
            ,{field: 'email', title: '邮箱'} 
            ,{field: 'avatar', title: '头像'}
            ,{field: 'patientcount', title: '可预约患者数', sort: true}
            ,{field: 'name', title: '科室'}
            ,{field: 'state', title: '是否值班'}
            
            ,{field: 'tool',fixed: 'right',  title: '操作', width: 165, align:'center', toolbar: '#rightBar'}
          ]]
        });


         /*添加医生信息*/
      table.on('toolbar(doctor_table)',function(obj){
         if(obj.event == 'delete'){
          
        }
      });
      /*编辑、删除 医生信息*/ 
      table.on('tool(doctor_table)',function(obj){
        let data = obj.data;
        if(obj.event === 'edit'){
           WeAdminShow('修改医生信息','/admin/doctors/edit?id='+data.id);
        }else if(obj.event === 'del'){
          layer.confirm('确认要删除吗？', function(index) {
          //发异步删除数据
          $.ajax({
               url: '/admin/api/doctors/del',
            method: 'post',
              data: data
          }).then(function(res){
            console.log(res);
                layer.msg('已删除!', {
                icon: 1,
                time: 1000
              });
              location.reload();
          })
				});
        }else if(obj.event === 'update'){
          WeAdminShow('修改医生密码','/admin/doctors/key?id='+data.id);
        }
        
      });



		});
		
		
     

			/*用户-删除*/
			function member_del(obj, id) {
				layer.confirm('确认要删除吗？', function(index) {
					//发异步删除数据
					$(obj).parents("tr").remove();
					layer.msg('已删除!', {
						icon: 1,
						time: 1000
					});
				});
			}

			function delAll(argument) {

				var data = tableCheck.getData();

				layer.confirm('确认要删除吗？' + data, function(index) {
					//捉到所有被选中的，发异步进行删除
					layer.msg('删除成功', {
						icon: 1
					});
					$(".layui-form-checked").not('.header').parents('tr').remove();
				});
			}
		</script>
	</body>

</html>